In [1]:
import re
import pandas as pd
import matplotlib.pyplot as plt
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/katiegarrett/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
top_2015 = pd.read_csv('../data/top_2015.csv')
top_2015.head()

,Unnamed: 0,author,author_created_utc,author_flair_css_class,author_flair_text,author_fullname,created_utc,domain,full_link,gilded,...,title,url,created,locked,post_hint,preview,edited,media,secure_media,date
0,0,fraidycat8,1.340124e+09,NaN,NaN,t2_81rlt,1424528924,self.Teachers,https://www.reddit.com/r/Teachers/comments/2wn...,0,...,I wish someone would make a reality TV show wh...,http://www.reddit.com/r/Teachers/comments/2wno...,1.424547e+09,NaN,NaN,NaN,NaN,NaN,NaN,2015-02-21 14:28:44+00:00
1,1,McDonala,1.443392e+09,NaN,NaN,t2_qrzbk,1443395716,self.Teachers,https://www.reddit.com/r/Teachers/comments/3mm...,0,...,Is anyone else annoyed by the zig-zag polka do...,https://www.reddit.com/r/Teachers/comments/3mm...,1.443414e+09,False,NaN,NaN,NaN,NaN,NaN,2015-09-27 23:15:16+00:00
2,2,cookiemonstermanatee,1.356329e+09,NaN,NaN,t2_9zjzj,1449188277,tes.com,https://www.reddit.com/r/Teachers/comments/3vc...,0,...,Pope Francis calls for teachers to be given a ...,https://www.tes.com/news/school-news/breaking-...,1.449206e+09,False,link,{'images': [{'id': 'QlJYSkA7GmWU3zsitApliZ0gf5...,NaN,NaN,NaN,2015-12-04 00:17:57+00:00
3,3,SparklesPeterson,1.359340e+09,NaN,NaN,t2_adx6n,1420554246,self.Teachers,https://www.reddit.com/r/Teachers/comments/2ri...,0,...,"Here is my site. Everything is 100% free, no l...",http://www.reddit.com/r/Teachers/comments/2rik...,1.420572e+09,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-06 14:24:06+00:00
4,4,TripleEEE1682,NaN,NaN,NaN,NaN,1430921471,rollingstone.com,https://www.reddit.com/r/Teachers/comments/352...,0,...,John Oliver takes down standardized testing an...,http://www.rollingstone.com/tv/videos/watch-jo...,1.430939e+09,NaN,link,{'images': [{'id': 'VaYuGlCHE7-VhRHx621LMTejt5...,NaN,NaN,NaN,2015-05-06 14:11:11+00:00

In [3]:
top_2015["combined"] = top_2015["title"].astype(str) + top_2015["selftext"].astype(str)

In [4]:
top_2015["row_id"] = top_2015.index + 1
print (top_2015.head(10))

   Unnamed: 0                author  author_created_utc  \
0           0            fraidycat8        1.340124e+09
1           1              McDonala        1.443392e+09
2           2  cookiemonstermanatee        1.356329e+09
3           3      SparklesPeterson        1.359340e+09
4           4         TripleEEE1682                 NaN
5           5          barbradingus        1.427578e+09
6           6        StarkyPants555        1.366171e+09
7           7          magovermelho                 NaN
8           8     TheMonsterBenteke        1.367680e+09
9           9        noideastoshare        1.417005e+09

   author_flair_css_class    author_flair_text author_fullname  created_utc  \
0                     NaN                  NaN        t2_81rlt   1424528924
1                     NaN                  NaN        t2_qrzbk   1443395716
2                     NaN                  NaN        t2_9zjzj   1449188277
3                     NaN                  NaN        t2_adx6n   1420554246
4                     NaN                  NaN             NaN   1430921471
5                     NaN                  NaN        t2_mjwow   1431029323
6                     NaN                  NaN        t2_bch4l   1430346254
7                     NaN     ELA, Etc | Idaho             NaN   1438129026
8                     NaN  High School Science        t2_bk4xm   1438021504
9                     NaN                  NaN        t2_jmaca   1441469258

                 domain                                          full_link  \
0         self.Teachers  https://www.reddit.com/r/Teachers/comments/2wn...
1         self.Teachers  https://www.reddit.com/r/Teachers/comments/3mm...
2               tes.com  https://www.reddit.com/r/Teachers/comments/3vc...
3         self.Teachers  https://www.reddit.com/r/Teachers/comments/2ri...
4      rollingstone.com  https://www.reddit.com/r/Teachers/comments/352...
5  greenvilleonline.com  https://www.reddit.com/r/Teachers/comments/357...
6         self.Teachers  https://www.reddit.com/r/Teachers/comments/34b...
7             slate.com  https://www.reddit.com/r/Teachers/comments/3ey...
8                cc.com  https://www.reddit.com/r/Teachers/comments/3es...
9          neatoday.org  https://www.reddit.com/r/Teachers/comments/3jr...

   gilded  ...       created  locked post_hint  \
0       0  ...  1.424547e+09     NaN       NaN
1       0  ...  1.443414e+09   False       NaN
2       0  ...  1.449206e+09   False      link
3       0  ...  1.420572e+09     NaN       NaN
4       0  ...  1.430939e+09     NaN      link
5       0  ...  1.431047e+09     NaN      link
6       0  ...  1.430364e+09     NaN       NaN
7       0  ...  1.438147e+09     NaN      link
8       0  ...  1.438040e+09     NaN      link
9       0  ...  1.441487e+09   False      link

                                             preview        edited media  \
0                                                NaN           NaN   NaN
1                                                NaN           NaN   NaN
2  {'images': [{'id': 'QlJYSkA7GmWU3zsitApliZ0gf5...           NaN   NaN
3                                                NaN           NaN   NaN
4  {'images': [{'id': 'VaYuGlCHE7-VhRHx621LMTejt5...           NaN   NaN
5  {'images': [{'id': '7F8ndFa5lKnOAryb3I_QgQdMAE...           NaN   NaN
6                                                NaN  1.430363e+09   NaN
7  {'images': [{'id': '7QByFw6_q5lrTdia8lewtpexCv...           NaN   NaN
8  {'images': [{'id': 'BI5b4qzy6JjXkU5pu_Mi3KWLIu...           NaN   NaN
9  {'images': [{'id': '5_aRUql_NkQda8N5mb7aKtjCIE...           NaN   NaN

   secure_media                       date  \
0           NaN  2015-02-21 14:28:44+00:00
1           NaN  2015-09-27 23:15:16+00:00
2           NaN  2015-12-04 00:17:57+00:00
3           NaN  2015-01-06 14:24:06+00:00
4           NaN  2015-05-06 14:11:11+00:00
5           NaN  2015-05-07 20:08:43+00:00
6           NaN  2015-04-29 22:24:14+00:00
7           NaN  2015-07-29 00:17:06+00:00
8           NaN  2015-07-27 18:25:04+00:00
9           NaN  2015-09-05 16:07:38+00:00

                                            combined row_id
0  I wish someone would make a reality TV show wh...      1
1  Is anyone else annoyed by the zig-zag polka do...      2
2  Pope Francis calls for teachers to be given a ...      3
3  Here is my site. Everything is 100% free, no l...      4
4  John Oliver takes down standardized testing an...      5
5  Stephen Colbert Funds Every Teacher Grant Requ...      6
6  Baltimore City Schools Teacher. Thought you mi...      7
7  Key &amp; Peele Imagines What It’d Be Like if ...      8
8  Some of you might enjoy Key &amp; Peele's late...      9
9  Want to Reduce the Teacher Shortage? Treat Tea...     10

[10 rows x 36 columns]

In [5]:
top_2015_subset = top_2015[['row_id', 'combined']].copy()
#data clean-up
#remove all non-aphabet characters
top_2015_subset['combined'] = top_2015_subset['combined'].str.replace("[^a-zA-Z#]", " ")
#covert to lower-case
top_2015_subset['combined'] = top_2015_subset['combined'].str.casefold()
print (top_2015_subset.head(10))

   row_id                                           combined
0       1  i wish someone would make a reality tv show wh...
1       2  is anyone else annoyed by the zig zag polka do...
2       3  pope francis calls for teachers to be given a ...
3       4  here is my site  everything is      free  no l...
4       5  john oliver takes down standardized testing an...
5       6  stephen colbert funds every teacher grant requ...
6       7  baltimore city schools teacher  thought you mi...
7       8  key  amp  peele imagines what it d be like if ...
8       9  some of you might enjoy key  amp  peele s late...
9      10  want to reduce the teacher shortage  treat tea...

/var/folders/4_/948td82x7jlf4pz0c4dtqn_00000gn/T/ipykernel_2303/1751120220.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  top_2015_subset['combined'] = top_2015_subset['combined'].str.replace("[^a-zA-Z#]", " ")

In [6]:
df1=pd.DataFrame()
df1['row_id']=['99999999999']
df1['sentiment_type']='NA999NA'
df1['sentiment_score']=0

In [7]:
print('Processing sentiment analysis...')
sid = SentimentIntensityAnalyzer()
t_df = df1
for index, row in top_2015_subset.iterrows():
    scores = sid.polarity_scores(row[1])
    for key, value in scores.items():
        temp = [key,value,row[0]]
        df1['row_id']=row[0]
        df1['sentiment_type']=key
        df1['sentiment_score']=value
        t_df=t_df.append(df1)
#remove dummy row with row_id = 99999999999
t_df_cleaned = t_df[t_df.row_id != '99999999999']
#remove duplicates if any exist
t_df_cleaned = t_df_cleaned.drop_duplicates()
# only keep rows where sentiment_type = compound
t_df_cleaned = t_df[t_df.sentiment_type == 'compound']
print(t_df_cleaned.head(10))

Processing sentiment analysis...
   row_id sentiment_type  sentiment_score
0       1       compound           0.1406
0       2       compound           0.6625
0       3       compound          -0.1027
0       4       compound           0.8442
0       5       compound           0.0000
0       6       compound           0.3612
0       7       compound           0.9896
0       8       compound           0.2023
0       9       compound           0.4939
0      10       compound           0.5423

In [8]:
df_output = pd.merge(top_2015, t_df_cleaned, on='row_id', how='inner')
print(df_output.head(10))

   Unnamed: 0                author  author_created_utc  \
0           0            fraidycat8        1.340124e+09
1           1              McDonala        1.443392e+09
2           2  cookiemonstermanatee        1.356329e+09
3           3      SparklesPeterson        1.359340e+09
4           4         TripleEEE1682                 NaN
5           5          barbradingus        1.427578e+09
6           6        StarkyPants555        1.366171e+09
7           7          magovermelho                 NaN
8           8     TheMonsterBenteke        1.367680e+09
9           9        noideastoshare        1.417005e+09

   author_flair_css_class    author_flair_text author_fullname  created_utc  \
0                     NaN                  NaN        t2_81rlt   1424528924
1                     NaN                  NaN        t2_qrzbk   1443395716
2                     NaN                  NaN        t2_9zjzj   1449188277
3                     NaN                  NaN        t2_adx6n   1420554246
4                     NaN                  NaN             NaN   1430921471
5                     NaN                  NaN        t2_mjwow   1431029323
6                     NaN                  NaN        t2_bch4l   1430346254
7                     NaN     ELA, Etc | Idaho             NaN   1438129026
8                     NaN  High School Science        t2_bk4xm   1438021504
9                     NaN                  NaN        t2_jmaca   1441469258

                 domain                                          full_link  \
0         self.Teachers  https://www.reddit.com/r/Teachers/comments/2wn...
1         self.Teachers  https://www.reddit.com/r/Teachers/comments/3mm...
2               tes.com  https://www.reddit.com/r/Teachers/comments/3vc...
3         self.Teachers  https://www.reddit.com/r/Teachers/comments/2ri...
4      rollingstone.com  https://www.reddit.com/r/Teachers/comments/352...
5  greenvilleonline.com  https://www.reddit.com/r/Teachers/comments/357...
6         self.Teachers  https://www.reddit.com/r/Teachers/comments/34b...
7             slate.com  https://www.reddit.com/r/Teachers/comments/3ey...
8                cc.com  https://www.reddit.com/r/Teachers/comments/3es...
9          neatoday.org  https://www.reddit.com/r/Teachers/comments/3jr...

   gilded  ... post_hint                                            preview  \
0       0  ...       NaN                                                NaN
1       0  ...       NaN                                                NaN
2       0  ...      link  {'images': [{'id': 'QlJYSkA7GmWU3zsitApliZ0gf5...
3       0  ...       NaN                                                NaN
4       0  ...      link  {'images': [{'id': 'VaYuGlCHE7-VhRHx621LMTejt5...
5       0  ...      link  {'images': [{'id': '7F8ndFa5lKnOAryb3I_QgQdMAE...
6       0  ...       NaN                                                NaN
7       0  ...      link  {'images': [{'id': '7QByFw6_q5lrTdia8lewtpexCv...
8       0  ...      link  {'images': [{'id': 'BI5b4qzy6JjXkU5pu_Mi3KWLIu...
9       0  ...      link  {'images': [{'id': '5_aRUql_NkQda8N5mb7aKtjCIE...

         edited  media  secure_media                       date  \
0           NaN    NaN           NaN  2015-02-21 14:28:44+00:00
1           NaN    NaN           NaN  2015-09-27 23:15:16+00:00
2           NaN    NaN           NaN  2015-12-04 00:17:57+00:00
3           NaN    NaN           NaN  2015-01-06 14:24:06+00:00
4           NaN    NaN           NaN  2015-05-06 14:11:11+00:00
5           NaN    NaN           NaN  2015-05-07 20:08:43+00:00
6  1.430363e+09    NaN           NaN  2015-04-29 22:24:14+00:00
7           NaN    NaN           NaN  2015-07-29 00:17:06+00:00
8           NaN    NaN           NaN  2015-07-27 18:25:04+00:00
9           NaN    NaN           NaN  2015-09-05 16:07:38+00:00

                                            combined  row_id sentiment_type  \
0  I wish someone would make a reality TV show wh...       1       compound
1  Is anyone else annoyed by the zig-zag polka do...       2       compound
2  Pope Francis calls for teachers to be given a ...       3       compound
3  Here is my site. Everything is 100% free, no l...       4       compound
4  John Oliver takes down standardized testing an...       5       compound
5  Stephen Colbert Funds Every Teacher Grant Requ...       6       compound
6  Baltimore City Schools Teacher. Thought you mi...       7       compound
7  Key &amp; Peele Imagines What It’d Be Like if ...       8       compound
8  Some of you might enjoy Key &amp; Peele's late...       9       compound
9  Want to Reduce the Teacher Shortage? Treat Tea...      10       compound

  sentiment_score
0          0.1406
1          0.6625
2         -0.1027
3          0.8442
4          0.0000
5          0.3612
6          0.9896
7          0.2023
8          0.4939
9          0.5423

[10 rows x 38 columns]

In [9]:
df_output[["sentiment_score"]].describe()

       sentiment_score
count       303.000000
mean          0.290261
std           0.637283
min          -0.999100
25%          -0.102700
50%           0.476700
75%           0.878300
max           0.998400

In [10]:
top_2015_final = df_output

In [11]:
top_2015_final['year'] = 2015

In [12]:
top_2015_final.head()

,Unnamed: 0,author,author_created_utc,author_flair_css_class,author_flair_text,author_fullname,created_utc,domain,full_link,gilded,...,preview,edited,media,secure_media,date,combined,row_id,sentiment_type,sentiment_score,year
0,0,fraidycat8,1.340124e+09,NaN,NaN,t2_81rlt,1424528924,self.Teachers,https://www.reddit.com/r/Teachers/comments/2wn...,0,...,NaN,NaN,NaN,NaN,2015-02-21 14:28:44+00:00,I wish someone would make a reality TV show wh...,1,compound,0.1406,2015
1,1,McDonala,1.443392e+09,NaN,NaN,t2_qrzbk,1443395716,self.Teachers,https://www.reddit.com/r/Teachers/comments/3mm...,0,...,NaN,NaN,NaN,NaN,2015-09-27 23:15:16+00:00,Is anyone else annoyed by the zig-zag polka do...,2,compound,0.6625,2015
2,2,cookiemonstermanatee,1.356329e+09,NaN,NaN,t2_9zjzj,1449188277,tes.com,https://www.reddit.com/r/Teachers/comments/3vc...,0,...,{'images': [{'id': 'QlJYSkA7GmWU3zsitApliZ0gf5...,NaN,NaN,NaN,2015-12-04 00:17:57+00:00,Pope Francis calls for teachers to be given a ...,3,compound,-0.1027,2015
3,3,SparklesPeterson,1.359340e+09,NaN,NaN,t2_adx6n,1420554246,self.Teachers,https://www.reddit.com/r/Teachers/comments/2ri...,0,...,NaN,NaN,NaN,NaN,2015-01-06 14:24:06+00:00,"Here is my site. Everything is 100% free, no l...",4,compound,0.8442,2015
4,4,TripleEEE1682,NaN,NaN,NaN,NaN,1430921471,rollingstone.com,https://www.reddit.com/r/Teachers/comments/352...,0,...,{'images': [{'id': 'VaYuGlCHE7-VhRHx621LMTejt5...,NaN,NaN,NaN,2015-05-06 14:11:11+00:00,John Oliver takes down standardized testing an...,5,compound,0.0000,2015

In [13]:
top_2015_final = top_2015_final[['author', 'created_utc', 'date', 'combined', 'row_id', 'sentiment_score', 'year']]

In [15]:
top_2015_final.head()

,author,created_utc,date,combined,row_id,sentiment_score,year
0,fraidycat8,1424528924,2015-02-21 14:28:44+00:00,I wish someone would make a reality TV show wh...,1,0.1406,2015
1,McDonala,1443395716,2015-09-27 23:15:16+00:00,Is anyone else annoyed by the zig-zag polka do...,2,0.6625,2015
2,cookiemonstermanatee,1449188277,2015-12-04 00:17:57+00:00,Pope Francis calls for teachers to be given a ...,3,-0.1027,2015
3,SparklesPeterson,1420554246,2015-01-06 14:24:06+00:00,"Here is my site. Everything is 100% free, no l...",4,0.8442,2015
4,TripleEEE1682,1430921471,2015-05-06 14:11:11+00:00,John Oliver takes down standardized testing an...,5,0.0000,2015

In [17]:
top_2015_final.to_csv('top_2015_final.csv')